parameters:
    level: max
    paths:
        - app
        - tests
    tmpDir: storage/tmp/phpstan
    checkUninitializedProperties: false
    reportPossiblyNonexistentGeneralArrayOffset: true
    reportPossiblyNonexistentConstantArrayOffset: true
includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
